/* Header */
.header {
    border-bottom: 1px solid #cdcdcd;
    position: relative;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out; /* Thêm transition để làm mịn hiệu ứng màu nền */
}

/* Header fixed */
.header.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    animation: slideInDown 0.3s ease-in-out;
    background-color: #fff; /* Thay đổi màu nền khi header fixed */
}

/* Hiệu ứng trượt xuống */
@keyframes slideInDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

/* Logo */
.logo {
    width: 120px;
    height: 40px;
}

/* Menu */
.header__menu {
    /* margin: 10px 0 10px 50px; */
    margin: 10px 0 10px 150px;

}

.header__menu ul li {
    list-style: none;
    display: inline-block;
    margin-right: 40px;
    position: relative;
}

.header__menu ul li.active a:after {
    transform: scale(1);
}

/* Menu Link */
.header__menu ul li a {
    font-size: 16px;
    color: #111111;
    display: block;
    font-weight: 600;
    position: relative;
    padding: 3px 0;
}

.header__menu ul li a:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #2123bf;
    content: '';
    transition: transform 0.5s ease-in-out;
    transform: scale(0);
}
