.product-detail {
    margin-bottom: 50px;
}
.productdetail-name {
    margin-top: 10px;
    color: #656565;
    font-size: 15px;
    font-weight: 600;
}
.productdisplay-right-sizes {
    display: flex;
    margin: 5px 0px;
    gap: 15px;
}
.productdisplay-right-sizes label {
    padding: 5px 15px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.productdisplay-right-sizes label:after {
    background: #c76060;
}
