* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-ser;
}
body {
    background: rgb(247, 246, 246);
}


