
.auth-form{
    margin-top: 50px ;
    padding: 30px 35px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.auth_input input{
    height: 35px;
    width: 100%;
    /* border: 1px solid #e1e1e1; */
    font-size: 14px;
    color: #585252;
    border-radius: 5px;
    
}

.site-form-item-icon {
    color: rgba(0, 0, 0, 0.25);
}

.title_login {
    color: #2123bf;
    font-weight: bolder;
    margin-bottom: 20px;
} 
.login-form-button {
    margin-top: 10px;
    height: 45px;
    width: 100%;
    border-radius: 3px;
    font-size: 16px;
}