# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\S2TN_SPORT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
